{% extends 'base.html' %}

{% block title %}{{ object.title }} Detailed{% endblock title %}

{% block content %}
<div class="article-entry">
    <h2>{{ object.title }}</h2>
    <p>{{ object.author }} | {{ object.time }}</p>
    <p>{{ object.body }}</p>
    <p>
        <a href="{% url 'article_edit' object.pk %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'article_delete' object.pk %}" class="btn btn-danger">Delete</a>
    </p>
    <p>
        <hr>
        <h4 class="lead">Back To<a href="{% url 'article_list' %}"> All Articles</a></h4>
    </p>
</div>
{% endblock content %}